# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# IDE
.idea/

# Mac
.DS_Store

# Logs
*.log

# MLflow
mlruns/

# Test Reports
htmlcov/
.coverage

# Jupyter
.ipynb_checkpoints/